/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media screen and (max-width:768px){
  
  body{
    overflow: hidden;
}
.nav-links{
    position: absolute;;
    right: 0px;
    height: 92vh;;
    top: 8vh;
    
background-image: url("/assets/images/navbackground.jpg");  
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform:translateX(100%);
    transition : transform 0.5s ease-in;
}
.nav-links li{
    opacity: 0;
}
.burger{
    display: block;
}
  
}